@use "@/styles/lib/mixins" as *;
@use "@/styles/lib/placeholders";

html,
body {
	max-width: 100%;
	overflow-x: hidden;

	// -webkit-tap-highlight-color: transparent;
	// -webkit-touch-callout: none;
}

body {
	min-height: 100vh;
	min-height: 100dvh;

	display: grid;
	grid-template-rows: auto 1fr;

	background-color: var(--color-bg);

	@extend %base-typography;
}

body > main {
	@include padding-block(1rem);
}

#ad-premium {
	@include padding-inline(2rem);

	@include flex(center);
	flex-direction: column;
	gap: 1rem;
	text-align: center;

	> .ad-description {
		color: var(--color-tone-50);
		font-weight: 500;
		font-style: italic;
	}
}
