@use "@/styles/lib/mixins" as *;
@use "@/styles/lib/placeholders";

html,
body {
	max-width: 100%;
	overflow-x: hidden;

	// -webkit-tap-highlight-color: transparent;
	// -webkit-touch-callout: none;
}

body {
	min-height: 100vh;
	min-height: 100dvh;

	display: grid;
	grid-template-rows: auto 1fr;

	background-color: var(--color-bg);

	@extend %base-typography;
}

body > main {
	@include padding-block(1rem);
}
