@use "../lib/normalize.scss";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img,
canvas,
video,
audio,
iframe,
embed,
object {
	display: block;
	max-width: 100%;
}

svg {
	display: inline-block;
	max-width: 100%;
}

.flex-correct {
	line-height: 0;
}
