@use "../lib/functions.scss" as *;

:root {
	// ================ COLORS ================
	--color-light: white;
	--color-tone-10: #E6E6E6;
	--color-tone-20: #CCCCCC;
	--color-tone-30: #B3B3B3;
	--color-tone-40: #999999;
	--color-tone-50: #808080;
	--color-tone-60: #666666;
	--color-tone-70: #4D4D4D;
	--color-tone-80: #333333;
	--color-tone-90: #1A1A1A;
	--color-dark: black;

	// --color-primary: ;
	// --color-secondary: ;
	--color-accent: #2C99FF;

	--color-error: #F55959;

	--color-text: var(--color-dark);
	--color-bg: #D1DEEC;
	--color-bg-container: var(--color-light);

	// ================ TYPOGRAPHY ================
	--font-sans-serif: "Montserrat", sans-serif;
	// --font-serif: ;
	// --font-monospace: monospace;
	// --font-script: ;
	// --font-display: ;

	--font-primary: var(--font-sans-serif);
	// --font-code: ;

	--text-tiny: #{ rem(12px) };
	--text-small: #{ rem(14px) };
	--text-regular: #{ rem(16px) };
	--text-medium: #{ rem(18px) };
	--text-large: #{ rem(24px) };
	--text-huge: #{ rem(32px) };

	--display-small: #{ rem(36px) };
	--display-medium: #{ rem(48px) };
	--display-large: #{ rem(60px) };

	--leading-none: 1;
	--leading-small: 1.15;
	--leading-medium: 1.5;
	--leading-large: 1.67;

	--leading-text: var(--leading-medium);

	--color-placeholder: var(--color-tone-50);

	// ================ ICONOGRAPHY ================
	--thickness-rule: #{ rem(2px) };

	--icon-text: 1em;
	--icon-small: #{ rem(16px) };
	--icon-regular: #{ rem(24px) };
	--icon-medium: #{ rem(32px) };
	--icon-large: #{ rem(48px) };

	// ================ CHRONO ================
	--duration-base: 250ms;
	--duration-fast: var(--duration-base);
	--duration-medium: calc(var(--duration-base) * 2);
	--duration-slow: calc(var(--duration-base) * 3);

	--duration-enter: var(--duration-medium);
	--duration-leave: var(--duration-slow);

	// ================ EFFECTS ================
	--shadow-container: 2px 2px 16px rgba(0, 0, 0, 0.2);

	// ================ LAYOUTS ================
	--radius-inner: 0.5rem;
	--radius-outer: calc(var(--radius-inner) * 2);

	// 320px
	// 480px
	// 540px
	// 768px
	// 920px
	// 1024px
	// 1200px
	// 1440px
}
