@use "@/styles/lib/mixins" as *;
@use "@/styles/lib/placeholders" as *;

.text-input {
	padding: 0.5em 1em;
	@include flex();
	gap: 1em;

	border-radius: 100px;
	background-color: var(--color-tone-10);
	color: var(--color-tone-50);

	&:focus-within {
		@include focus-effect;
		color: var(--color-text);
	}

	> input[type=text] {
		@extend %text-input-reset;
		@extend %base-typography;
	}
}